{% extends "layout.html" %}

{% block title %}
    User/Critic Film Recommendation Matrix!
{% endblock %}

{% block main %}
<h2>User Favorite 2011-2021</h2>
<table class="table">
    <thead>
        <tr>
            <th>Similar Critics</th>
            <th>Similarity Score</th>
            <th>Critic top ten's</th>
        </tr>
    </thead>
    {% for i in range(length) %}
        <tr>
            <td><a href="{{ rt_search[i] }}">{{ user_favs[i] }}</a></td>
            <td>{{ scores[i] }}</td>
            <td>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{'collapseExample{n}'.format(n = i)}}" aria-expanded="false" aria-controls="{{'collapseExample{n}'.format(n = i)}}">
                Film List
                </button>
                <div class="collapse" id="{{'collapseExample{n}'.format(n = i)}}">
                    <div class="card" style="position:absolute; max-height: 50vh; overflow-y: auto;">
                        <div class="card-header">
                            {{ user_favs[i] }}
                          </div>
                          <ul class="list-group list-group-flush">
                            {% for movie in critic_movies[i] %}
                            <li class="list-group-item">{{ movie }}</li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
            </td>
    {% endfor %}

{% endblock %}